<footer class="footer footer-expand-md bg-light border-bottom">
    <div class="container">
        
        <div class="footer-text d-flex gap-3 bg-light justify-content-center">&copy; 2025 Vinamra Gupta. All rights reserved.</div>
        
        <ul class="footer-links d-flex ">
            <li><a class="text-secondary" href="https://github.com/VINAMRA-123" target="_blank">GitHub</a></li>
            <li><a class="text-secondary" href="https://www.linkedin.com/in/vinamra-gupta-vg14052002/" target="_blank">LinkedIn</a></li>
            <li><a class="text-secondary" href="https://leetcode.com/vinamra-123/" target="_blank">Leetcode</a></li>
            <li><a class="text-secondary" href="mailto:vinamragupta121@gmail.com">Email</a></li>
        </ul>
    </div>
</footer>
