
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link text-secondary " routerLink="/" (click)="navigateTo('')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/projects" (click)="navigateTo('/projects')">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary " routerLink="/contacts" (click)="navigateTo('/contact')">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" routerLink="/about" (click)="navigateTo('/about')">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
