

    <div class="contact-container bg-light lead">
        <h2>📩 Get in Touch</h2>
        <p class="contact-text">Interested in working together or have a question? Drop me a message! 👇</p>
        
        <form class="contact-form" id="contactForm">
            <input type="text" id="name" placeholder="Your Name" required>
            <input type="email" id="email" placeholder="Your Email" required>
            <textarea id="message" placeholder="Your Message" rows="4" required></textarea>
            <button type="submit" class="btn primary-btn bg-dark btn-lg">Send Message</button>
        </form>

        <div class="contact-info">
            <p><strong> 📧 Email:</strong> <a class="text-dark" href="mailto:vinamragupta121@gmail.com">{{email}}</a></p>
        <p><strong>📞 Phone:</strong> +91 8955793138</p>
        <p><strong>📍 Location:</strong> Ahmedabad, India</p>
        </div>
    </div>

    