<div>
    <app-header style="font-family:cursive;"></app-header>
    <app-navbar style="font-family:cursive;"></app-navbar>
    
    <router-outlet style="font-family:cursive;"></router-outlet> 
    <app-footer style="font-family:cursive;"></app-footer>
</div>



<!-- <app-home></app-home>
<app-projects></app-projects>
<app-contact></app-contact>
<app-about></app-about> -->


<!-- <button (click)="navigateTo('/projects')">Go to Projects</button> -->
<!-- <button (click)="navigateTo('/contacts')">Go to Contacts</button> -->
