<div @fadeIn>
    <div class="container text-center bg-light mt-5 "  >
    <div><h1 class=" typing-text fw-bold text-black ">Welcome to My Portfolio</h1></div>
    
    <div class="typing-text">
        <p class="lead text-muted">
            I’m a Full Stack Developer passionate about building scalable web applications <br>
            and AI-powered solutions.Currently, I am working as a System Engineer 
            at Tata Consultancy<br>Services where I am developing a Finance and Accounting solution .I have pursued B.Tech <br>in Electrical Engineering and Minor in Computer Science from Nirma University in 2024.
            <br>Explore my work, projects, and experience.
    
        </p>
    </div>
    
    <div><img src="assets/insta dp.jpg" alt="Profile Picture" class="rounded-circle shadow-lg my-4" width="200" height="250"></div>
    

    <div class="mt-4">
        
        <a (click)="navigateTo('/about')"  class="btn btn-secondary btn-lg me-3">Learn More About Me</a>
        <a href="assets/tcs_new_resume.pdf" download class="btn btn-outline-secondary btn-lg">Download Resume</a>
    </div>
    <h3 class="mt-5 text-center fw-bold">Work Experience</h3>

        <div class="timeline">
            
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <div class="card shadow-lg border-secondary w-100">
                        <div class="card-body">
                            <h5 class="card-title text-secondary">Tata Consultancy Services (TCS)</h5>
                            <h6 class="card-subtitle mb-2 text-muted">System Engineer(Full Stack Developer) | July 2024 - Present</h6>
                            <div class="card-text text-left-align ">
                                <ul >• Developed and maintaining a module used to calculate depreciation of fixed assets using Spring Boot for backend APIs,
                                    MySQL for database management and Angular for responsive
                                    front-end interfaces</ul> 
                                    <ul>• Enhanced the client application by implementing bulk upload
                                        functionality, resulting in a 90% reduction in user effort and
                                        time for uploading large amounts of information.</ul>
                                    <ul>
                                        • Implemented JWT token-based authentication for secure
                                        user access and utilized Spring Cache to enhance perfor
                                        mance, significantly reducing API response time.</ul>
                                    <ul>
                                        • Automated CI/CD pipelines using Jenkins for efficient deployment and worked in an Agile environment, contributing
                                        to sprints, code reviews, and delivering scalable, high-quality
                                        software.
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <div class="card shadow-lg border-secondary w-100">
                        <div class="card-body">
                            <h5 class="card-title text-secondary">Frontend Intern</h5>
                            <h6 class="card-subtitle mb-2 text-muted">UserEx Consulting | Jan 2024 - May 2024</h6>
                            <div class="card-text">
                                <ul>• Utilized React.js to build a dynamic web application with fea
                                    tures including image, video, PPT, and calendar viewer func
                                    tionalities.</ul>
                                    <ul>• Contributed to developing a healthcare-focused CRM system
                                        using React.js, enabling efficient patient care by implementing
                                        features allowing doctors to add patient records and treat
                                        ment details.</ul>
                                        <ul>• Developed interfaces for nurses to track and complete tasks
                                            based on doctor’s notes, improving overall workflow and pa
                                            tient management.</ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <div class="card shadow-lg border-secondary w-100">
                        <div class="card-body">
                            <h5 class="card-title text-secondary">Desi QnA</h5>
                            <h6 class="card-subtitle mb-2 text-muted">SDE Intern | July 2023 - August 2023</h6>
                            <div class="card-text">
                                <ul>
                                    • Contributed to the design and development of responsive
web pages for Desi QnA , ensuring excellent user experiences
across all devices.
                                </ul>
                                <ul>
                                    • Implemented robust user authentication and actively worked
                                    on detecting and removing fake bots and posts, enhancing
                                    platform Security.
                                </ul>
<ul>• Integrated reCAPTCHA, strengthening website security with
    Google Layer Protection.</ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- End Timeline -->
    </div>
</div>